<div class="centered">
  <div class="box">
    <div class="file-upload pure-button pure-button-primary">
      <i class="fa fa-file"></i>
      <span>Select file</span>
      <input type="file" id="upload"/>
    </div>
  </div>
</div>
